/* general css */

/* code editor and text editor style */
 body{
      font-family: open sans;
	  
    }
.logo{
	color: #007fff;
}	
.me3{
	height: 100%;
	width: 60%;
	border: 3px solid #ddd;
	right:300px;
	overflow-y: scroll;
	position: fixed;
	
}
.cssStylers{
	overflow-y: scroll;
	position: fixed;
	height:100%;
	width: 17%;
}
.showSource{
	height: 80%;
	width: 22%;
	border: 3px solid #ddd;
	right:0px;
	position: fixed;
	overflow-y: scroll;
	background: black !important;
	color: white;
}
.generate{
	right: 5px;
	position: fixed;
	top: 95%;
	padding: 4px;
}

.html{
	height:40%;
	width:100%;
	overflow-y: scroll;
	background: #ddd;
}
.css{
	height:40%;
	width:100%;
	overflow-y: scroll;
	background: #ddd;
}
.wrapper{
	/*box-shadow: red 0px 0px 0px 3px;*/
	/*position: relative;
	border: 2px dashed lightblue;
	padding: 3px;*/
}


.myHandle{
	z-index: 1000;
	height: 30px;
	width: 30px;
	background: #374d63;
	margin-top: -95px;
	
}



/* -----------------------------------------------------------------------------------------*/
 /* ------------------------------------- color pelette css --------------------------------------*/
 /* -----------------------------------------------------------------------------------------*/

   .colorbox{
   	height: 20px;
   	width: 30px;
   }
   button:focus { outline: 0px solid transparent; }
   .pickers{
  height: 22px;
  width:16px;
  border: none;
  float: left;
}

.main-block{
  float: left;
}
.test{
	/*height: 100px;
	width: 150px;
	border: 5px solid #ddd;
    background-color: blue;*/
}
.colorgivers{
  float: left;
}

.palettebg{
    display: none;
}


.cg{
    float: left;
}

.bordert{position: relative; left: 4px; top: 0px;}
.borderr{position: relative;left: -28px;top: 25px;}
.borderl{position: relative;left: 0px;top: 25px;}
.borderb{position: relative; left: -28px; top: 50px;}

.border-specific{
      margin-bottom: 70px;
}

.border{
      margin-bottom: 10px;
    border: none;
    height:30px;
    width:30px;
    border-radius: 50%;
    float:left;
    box-shadow: 0px 0px 2px 2px #ddd;
}
.b-text{
  float:left;
  font-size: 13px;
  margin-left: 5px;
}


.activec{
  box-shadow: 0px 0px 3px 2px orange !important;
  position: relative;
}

.square-in{
  height: 50px;
  width: 70px;
  border: 2px solid #374d63;
      position: relative;
    left: 15px;
    top: -11px;
        z-index: 0;
}

.background{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  border: none;
    box-shadow: 0px 0px 2px 2px #ddd;

}

.bg-text{
  float: left;
  margin-left: 5px;
  font-size: 13px;
}


.bg-block{
  display: block;
  margin-top: -60px;
}
.t-block{
  display: block;
  margin-top: 40px;
}
.extracolorers{
  height:30px;
  width:30px;
  border: none;
  border-radius: 50%;
  float: left;
  box-shadow: 0px 0px 2px 2px #ddd;
}
.extratexts{
  float: left;
  font-size: 13px;
  margin-left: 5px;
}
.extrablocks{
  display:block;
}
.t-block{
  margin-top: 30px;
}
.s-block{
  margin-top: 25px;
}
.g-block{
    margin-top: 25px;
    margin-bottom: 40px;
}
.color-providers{
    box-shadow: 0px 0px 5px 5px #ddd;
    width: 150px;
    padding: 20px;
    background-color: white;
    height:310px;
}
.border-specific{
  z-index: 5;
}
.bor{
  z-index: 10;
  color:transparent;
  border: none;
    box-shadow: 0px 0px 2px 2px #ddd;
}
.cheader{
         margin-top: -2px;
    color: white;
    background: #374d63;
    position: relative;
    left: -20px;
    top: -20px;
    width: 190px;
    text-align: center;
    height: 35px;
    padding-top: 10px;
    margin-bottom: -10px;
}
.palettebg{
  width:330px;
}
.spectrumbg{
  float: left;
}
.displaycolor{
  float: left;
}

/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the end of color Pelette css -------------------------------*/
/* -----------------------------------------------------------------------------------------*/








/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the start of color button css -------------------------------*/
/* -----------------------------------------------------------------------------------------*/
 body{
    font-family: open sans;
  }
   .border-settings{
    width: 170px;
    height: 670px;
    padding-left: 30px;
    box-shadow: 0px 0px 3px 3px #ddd;
}

  .shorteninput{
    background: none;
    border: none;
    text-align: center;
    margin-top: 4px;
    font-size: 11px;
  }

  .valuechangerR{
    display: block;
    height: 25px;
    position: relative;
    top: -25px;
  }
  .valuechanger{
       margin-top: 110px;
    display: block;
        margin-left: 25px;
  }
.test{

  /*width:310px;
  height:300px;
  border-width:1px;
  opacity:1;
  border: 1px solid grey;

  background:white;
  border-radius: 5px;
  z-index:1;*/
}
.hdl{
  text-align: center;
  margin-top: 0px;
  border-bottom: 1px solid grey;
}
.a1{

  margin-left: 1px;
   float: left;
}
.a2{

   float: left;
   text-align: center;
   width: 145px;

}



/*.adder{width: 35px;height: 35px; border: 2px solid black; float: left; margin-left:35px;  position: relative; left: 15px; top: -4px; background-color:#e4e4e4;}
.adder2{width: 35px; height: 35px; border: 2px solid black; float: left; margin-top:35px; position: relative;left: 16px;top: 7px; background-color:#e4e4e4;}
.adder3{width: 35px; height: 35px; border: 2px solid black; float: left;  position: relative;left: 9px;top: -32px; background-color:#e4e4e4;}
.adder4{width: 35px; height: 35px; border: 2px solid black; float: left; margin-top:40px;     position: relative; left: 12px; top: -23px; background-color:#e4e4e4;}
.model{ height:100px; width: 80px; border: 2px solid black; position: relative; left: 28px; top: 11px; z-index:-1;}*/
.solid{ border: 1px solid grey; height: 35px; width: 35px; float: left; margin: 5px;}
.dotted{border: 1px dotted grey;height: 35px; width: 35px;float: left; margin: 5px;}
.dashed{border: 1px dashed grey;height: 35px; width: 35px;float: left;margin: 5px;}
.double{border: 1px double grey;height: 35px; width: 35px;float: left; margin: 5px;}
.remove{border: 0px; height: 30px; width: 30px;float: left; margin: 5px;}
.mixed{height: 30px; width: 30px;float: left; border-style: dotted dashed solid double; margin: 5px;}



    .activeL{
      background-color: #007fff !important;
      color: white;
    }
    .plus{
      background: blue;
      height: 20px;
      width: 20px;
      margin: 2px;
    }
    .minus{
      background: red;
      height: 20px;
      width: 20px;
      margin: 2px;
    }
    .round{
      background: purple;
      height: 20px;
      width: 20px;
      margin: 2px;
    }



.borderEditors{
  margin-top: 5px;
}
.borderVal{
  width: 30px;
      margin-left: -4px;
}
.ff{
  background: #2c3e50;
    color: white;
    border: 1px solid white;
}

.topL{ height: 25px; width: 40px; background: #ddd;}
.topR{height: 25px; width: 40px; background: #ddd; }
.bottomL{height: 25px; width: 40px; background: #ddd;     margin-top: 30px;}
.bottomR{height: 25px; width: 40px; background: #ddd;     margin-top: 30px;}

.top{ float: left; height: 125px; width: 50px;}
.bottom{ float: left; height: 125px; width: 50px;}
.ttte{ float: left; height: 30px; width: 30px; background: #007fff; margin: 30px 5px 0px -6px;}


.l{
  float:left;
   height: 120px;
   width: 154px;
    display: block;
    }

.borderValR{
  width: 30px;

}

.activeR{
      background: #007fff;
      color: white;
    }

    .xx{
      height: 25px;
      width: 40px;
      background: #ddd;
      float: left;

    }
    .i{margin-top: 25px;}
    .iii{margin-top: 25px;}
    .iv{margin-top: 50px; margin-left: -80px;}
    .boxes{
      display: block;
    }
    .border-width{
      display: block;
    }
    .border-radius{
      display: block;
    }

    .borderValR{
       margin-left: 46px;
    }
    .subtructR{
          position: relative;
    top: 125px;
        left: -103px;
    }
    .border-text{
          margin-left: -30px;
          text-align: center;
          background: #2c3e50;
    color: white;
    padding: 5px;
    }
    .bw-text{
          background: #007fff;
    color: white;
    margin-left: -30px;
    text-align: center;
    margin-top: -20px;
    }
    .br-text{
          background: #007fff;
    color: white;
    margin-left: -30px;
    text-align: center;
    }
    .subruct{
          margin-left: 25px;
    }
    .add{
          margin-left: -4px;
    }
    .addR{
      margin-left: -4px;
    }
    .bt{
      height: 20px;
      width:20px;
    }
    .inval{
      height:20px;
      text-align: center;
    }

    .borderStyle-title{
      margin-top: 170px;
      background: #007fff;
    color: white;
    margin-left: -30px;
    text-align: center;
    }

	#a2{
	    align-self: center;
    width: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
	background: #2c3e50;
    color: white;
    border: 1px solid white;
	}
	#a_slider2{
	margin-left: -20px;
	}
	#a3{
	    align-self: center;
    width: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
	background: #2c3e50;
    color: white;
    border: 1px solid white;
	}
	#a_slider3{
	margin-left: -20px;
	}

	#marginInput{
	    align-self: center;
    width: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
	background: #2c3e50;
    color: white;
    border: 1px solid white;
	}
	#marginSlider{
	width: 210px;
	}
  #paddingInput{
	    align-self: center;
    width: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
	background: #2c3e50;
    color: white;
    border: 1px solid white;
	}
  #paddingSlider{
	width: 210px;
	}


	/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the end of color button editor css -------------------------------*/
/* -----------------------------------------------------------------------------------------*/







	/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the start of position and size editor -------------------------------*/
/* -----------------------------------------------------------------------------------------*/


  .position-size{
  width: 200px;
  box-shadow: 0px 0px 3px 3px #ddd;
  background: white;
}
.ps-body{
  padding: 10px;
  margin-top: -30px;
}
.ps-spinners{
  width: 100px;

  }

.ps-header{
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 5px;
    width: 190px;
}

select{
width: 140px;
    height: 30px;
}
.active{
	cursor: move;
	outline: 2px dashed blue;
	resize: both;
 /* height: auto;
  width: auto;
  border: 2px solid green;*/

}









	/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the end of position and size editor -------------------------------*/
/* -----------------------------------------------------------------------------------------*/





/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the start of padding and margin editor -------------------------------*/
/* -----------------------------------------------------------------------------------------*/

#margin_padding{
    width: 210px;
    box-shadow: 0px 0px 3px 3px #ddd;
    background: white;
}
.mp{
width: 40px;
height:20px;
position: relative;
border:1px solid black;
}

.padding-label{
	font-size: 10px;
	color: white;
}
.margin-label{
	color:white;
}
.mp-title{
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 5px;
    width: 200px;
}

.margin-color{
background: #2c3e50;
color: white;
}
.padding-color{
background: #5fc5f6;
color: white;

}

#margin{
background: #5fc5f6;
position: relative;
border:1px solid black;
height:190px;
width:100%;
}
#padding{
background: #2c3e50;
position: relative;
    /*margin-left: 80px;*/
	border:1px solid black;
  height:120px;
  width:120px;
      left: 44px;
    top: -43px;
}

/*.margin-top{left: 80px;}
.margin-left{position: relative; top: 42px;}
.margin-right{left: 160px; position: relative; top:-42px;}
.margin-bottom{left: 80px;}

#padding{margin-left:80px;}
.padding-top{}
.padding-left{margin-left: -35px;}
.padding-right{    margin-left: 35px; margin-top: -20px;}
.paddding-bottom{}*/




.margin-top{
        margin-left: 83px;
    margin-top: -22px;
}
.margin-left{
         top: 50px;
}
.margin-right{
       top: 30px;
    margin-left: 170px;
}
.margin-bottom{
       left: 83px;
    top: 150px;
    right: 5px;
}

.padding-top{
         left: 37px;
    top: -15px;
}
.padding-left{

       top: 1px;
}
.padding-right{
       left: 80px;
    top: -3px;
}
.padding-bottom{
       top: 27px;
    left: 37px;
}



/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the end of padding and margin editor -------------------------------*/
/* -----------------------------------------------------------------------------------------*/




/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the start of shadow editor -------------------------------*/
/* -----------------------------------------------------------------------------------------*/

    label, input { display: block; }
    .box { padding: 40px; width: 300px; text-align: center; margin: 30px 0; background: yellow; }
    .box { box-shadow: 0px 0px 0px 0px black; }input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
	
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 21px;
    width: 21px;
    border-radius: 3px;
    background: white;
    margin-top: -4px;
    border: 1px solid #dddddd;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 14px;
    background: green ;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #dddddd;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: blue;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    border: 1px solid #dddddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: 1px solid #dddddd;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.jscolor{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: grey 0px 0px 4px 1px;
  display:inline-block;
}
.shadowText{
  display:inline-block;

}
#bgcolor{
  width: 50px;
  display:inline-block;
}
.shadowSliders{
  display:block;
  
}
input.shadowSlider{
  width: 185px;
}
.shadowHeader{
  text-align: center;
  background: #2c3e50;
    color: white;
    padding: 5px;
}
.shadow{
  width: 200px;
 box-shadow: 0px 0px 3px 3px #ddd;

}



/* -----------------------------------------------------------------------------------------*/
/* ---------------------------- the end of shadow editor -------------------------------*/
/* -----------------------------------------------------------------------------------------*/
